<h3>What is it?</h3>
<p>This algorithm is a divide and conquer style algorithm used to sort a list. The concept behind this algorithmic paradigm
    is to recursively break a problem into smaller more manageable chunks and merge the results back together to get the
    required result.</p>
<!-- MORE  -->
<h3>What does it look like?</h3>
<p>I have implemented an example of the merge sort algorithm in python (I'd love your feedback about improvements and optimisations
    to this code):</p>
<code type="python"><span>def sort(arr):</span>
<span>    length = len(arr)</span>
<span>    mid = int(length / 2)</span>
<span>    if (length &lt; 2):</span>
<span>        return arr</span>
<span>    else:</span>
<span>        a = sort(arr[:mid])</span>
<span>        b = sort(arr[mid:])</span>
<span>        out = []</span>
<span>        while len(a) != 0 and len(b) != 0:</span>
<span>            if (a[0] &lt; b[0]):</span>
<span>                out.append(a[0])</span>
<span>                a.remove(a[0])</span>
<span>            else:</span>
<span>                out.append(b[0])</span>
<span>                b.remove(b[0])</span>
<span>        return out + a + b</span>
<span></span>
<span>sort([5,1,2,4,3,2,1])</span>
</code>
<h3>How does it work?</h3>
<ol>
    <li>If the input list has a length less than 2 return the list; it is already sorted.</li>
    <li>Split unsorted lists into 2 sub-lists of approximately equal length</li>
    <li>Recursively sort each sub-list by re-applying merge sort</li>
    <li>Return a sorted list merging the two sub-lists</li>
</ol>
<h3>What are the benefits?</h3>
<p>With each recursion the array length is halved. The efficiency of this style of algorithm is that, by it's very nature, with
    each successive recursion the amount of data the function has to work on is reduced. Over large data sets the efficiency
    can be considerable compared to other sorting algorithms such as Insertion Sort, Bubble Sort etc.</p>